# streamlit
# opencv-python-headless
# scikit-learn
# git-lfs
# gdown
# streamlit_webrtc
# boto3
# pydrive2
streamlit
opencv-python-headless
deepface
supabase
python-dotenv
Pillow
numpy
tensorflow
tensorflow-addons